<section id="catalog-section" class="spaced">

  <h1 class="item">All Accomodation</h1>
  <main class="item pad-large align-center">
    <ul class="catalog cards">
        {{#each rooms}}
            {{> roomCard}}
        {{/each}}
    </ul>
  </main>

</section>